<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/layout.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/deco.css" type="text/css">
    <link rel="stylesheet" href="/css/button.css" type="text/css">
    <link rel="stylesheet" href="/css/post/post.css" type="text/css">
    <link rel="stylesheet" href="/css/airlinelist/airlinelist.css" type="text/css">

</head>

<body>
<div th:replace="inc/header :: headerFragment"></div>

<div class="start-arrival-container">

    <section class="start-arrival-position">
        <div>
            <img class="pointimg" src="/image/airlinelist/point.svg" alt="">
            <span class="start-point" th:text="${basicInfo.departure}"> 출발지</span>
        </div>
        <div class="arrow-img">
            <img>
        </div>
        <div>
            <img class="pointimg" src="/image/airlinelist/point.svg" alt="">
            <span class="arrival-point" th:text="${basicInfo.arrival}"> 도착지</span>
        </div>
    </section>

    <section class="start-arrival-date">
        <div>
            <img class="start-dateimg" src="/image/airlinelist/dateimg.svg" alt="">
            <span class="start-date" th:text="${basicInfo.depDate}"> 출발날짜</span>
        </div>
        <!--            <div class="take-off-flight-img">-->
        <!--                <img>-->
        <!--            </div>-->
        <div>
            <img class="arrival-dateimg" src="/image/airlinelist/dateimg.svg" alt="" th:if="${basicInfo.arrDate != ''}"/>
            <!--                <img class="arrival-dateimg" alt="" th:unless="${basicInfo.arrDate != ''}" th:src="@{/image/airlinelist/dateimg.svg}"/>-->
            <span class="arrival-date" th:text="${basicInfo.arrDate}"> 도착날짜</span>
        </div>
    </section>
</div>


<main class="main">
    <div class="board-flight" th:each="flight: ${flights}">
        <section class="board-flight-info">
            <a th:href="@{'flight/'+${flight.getCode()}+'/'+${flight.getDepDate()}+'/'+${flight.getAirlineId()}}">
                <form action="chart" method="post">
                    <div name="flightlogo" class="airline-img">
                        <img th:src="${flight.getLogoUrl()}" alt="">
                    </div>
<!--                    <div name="flightCode" class="airline-title" th:text="${flight.getCode()}"> 111</div>-->
                    <div name="flighttitle" class="airline-title" th:text="${flight.getAirlineName()}"> 에어부산</div>
                    <div name="totaltime" class="total-time" th:text="${flight.getDurationTime()}">1시간</div>
                    <div name="deparr" class="dep-arr" th:text="${flight.getDepArr()}">김포-제주</div>
                    <div name="flighttime" class="flight-time" th:text="${flight.getDepArrTime()}">08:00 - 20:20</div>
                    <div name="flightprice" class="flight-price" th:text="${flight.getFee()}">59,470원</div>

                </form>
            </a>
        </section>
    </div>
</main>

</body>
</html>