<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css" type="text/css">
  <link rel="stylesheet" href="/css/layout.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/deco.css" type="text/css">
  <link rel="stylesheet" href="/css/button.css" type="text/css">
  <link rel="stylesheet" href="/css/airlinelist/airlinelist.css" type="text/css">
  <link rel="stylesheet" href="/css/airlinechart/airlinechart.css" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

</head>


<body>
<div th:replace ="~{inc/header :: headerFragment}"></div>

<main class="main">

  <section class="board-flight-info">
    <a>
      <form>
        <div name="flightlogo" class="airline-img">
          <img th:src="${flight.getLogoUrl()}" alt="">
        </div>
        <div name="flighttitle" class="airline-title" th:text="${flight.getAirlineName()}"> 에어부산</div>
        <div name="totaltime" class="total-time" th:text="${flight.getDurationTime()}">1시간</div>
        <div name="deparr" class="dep-arr" th:text="${flight.getDepArr()}">김포-제주</div>
        <div name="flighttime" class="flight-time" th:text="${flight.getDepArrTime()}">08:00 - 20:20</div>
        <div name="flightprice" class="flight-price" th:text="${flight.getFee()}">59,470원</div>
      </form>
    </a>
  </section>

  <div class="airline-chart-container"  th:each="chart: ${chart}" >
    <div class="low-high-container">
      <div class="low-price title">최저가격 :
        <span class="low price" th:text="${chart.lowestFee}">45,000원</span>
      </div>
      <div class="high-price title">최고가격 :
        <span class="high price" th:text="${chart.highestFee}">80,000원</span>
      </div>
      <div class="avg-price title">평균가격 :
        <span class="avg price" th:text="${chart.averageFee}">50,000원</span>
      </div>
    </div>

    <form class="airline-alarm-container" action="/flight/alarm" method="post">
      <input type="hidden" name="code" th:value="${flight.getCode()}">
      <input type="hidden" name="depDate" th:value="${flight.getDepDate()}">
      <input type="text" name="alarm" class="alarm-price" placeholder="알림 가격을 설정 ₩"> </input>
      <button type="submit" class="alarm-button"> 알림설정 </button>
    </form>

    <div class="cartjs">
      <canvas id="myChart"width="800"height="400"></canvas>
      <script th:inline="javascript" >
      const ctx = document.getElementById('myChart').getContext('2d');
      const myChart = new Chart(ctx, {
      	type: 'line',
      	data: {
      		labels: [[${days}]],
      		datasets: [{
      			label: [[${flight.getAirlineName()}]],
      			data: [[${fees}]]
      			,
      			backgroundColor: [
      				'rgba(255, 153, 0, 0.3)',
      			],
      			borderColor: [
      				'rgba(255, 153, 0, 1)',
      			],
              borderWidth: 1,
              pointTension:2,
              pointRadius:4,
              pointHoverRadius:12,
              pointHoverBorderColor: 'rgba(255, 153, 0)',
              pointHoverBackgroundColor:'rgba(255, 153, 0)',
            }]
      	},
      	options: {
      		responsive: false,
      		scales: {
      		yAxes: [{
      			ticks: {
      				min: [[${lowestFee}]]-10000,
      				max: [[${highestFee}]]+10000,
      				stepSize : 5000,
      				fontSize : 15,
      			}
      		}]
      	}}
      });
      </script>
    </div>
  </div>
</main>
</body>
</html>