.body{
    position: relative;
}
.search-page{
    /* position: relative; */
    
}
.search-page-image{
    background: url(/image/search/search-opacity-background.svg) no-repeat center/cover;
    /* z-index: -1; */
    height: 94vh;
}

.search-page-title{
    position: absolute;
    font-size: 30px;
    top: 100px;
    left: 50%;
    transform: translate(-50%,0);
}

.search-page-box{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%,0);
    width: 300px;
    height: 350px;
    border: 5px solid #a0a0a0;
    border-radius: 25px;
    padding: 20px;
    display: grid;
    place-items: center;
    grid-template-areas: 
        "togglecheckbox . ."
        "start-position arrowimg  arrival-position"
        "start-date start-date start-date" 
        "arrival-date arrival-date arrival-date"
        ". search-btn .";
}

.start-position{
    width: 100px;
    height: 50px;
    border: 2px solid #000;
    grid-area: start-position;
}

.arrival-position{
    width: 100px;
    height: 50px;
    border: 2px solid #000;
    grid-area: arrival-position;
}

.start-date{
    margin-bottom: 18px;
    grid-area: start-date;
}


.arrival-date{
    margin-bottom: 18px;
    grid-area: arrival-date;
}

.cal{
    height: 46px;
    width: 280px;
    border: 2px solid #000;
}

@media (min-width:700px){

    .search-page-box{
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%,0);
        width: 600px;
        height: 200px;
        border: 5px solid #a0a0a0;
        border-radius: 25px;
        padding: 20px;
        display: grid;
        grid-template-areas: 
            "togglecheckbox . . . . . . ."
            "start-position arrowimg arrival-position . start-date . arrival-date .";
    }

    .cal{
        width: 120px;
        height: 46px;
        border: 2px solid #000;
    }

    .start-date{
        grid-area: start-date;
    }

    .arrival-date{
        grid-area: arrival-date;
    }
}