<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<header class="header" th:fragment="headerFragment">
    <div>
        <a href="/index">
            <img class="jejuro-logo-img" src="/image/jejuro-logo.svg" alt="logo">
        </a>
    </div>
    <div>
        <input type="checkbox" id="menu-btn" class="menu-btn visuallyHidden">
        <label for="menu-btn">
            <div class="hamburger hamburger1">
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar3"></span>
            </div>
            <div class="wrapper">
                <ul>
                    <li><a href="/search">여행검색</a></li>
                    <li><a href="/post">여행게시판</a></li>
                    <th:block sec:authorize="isAnonymous()">
                        <li>
                            <a href="/member/login">로그인</a><br>
                        </li>
                        <li>
                            <a href="/member/register">회원가입</a>
                        </li>
                    </th:block>
                    <!-- <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> -->
                    <th:block sec:authorize="isAuthenticated()">
                        <li>
                            <a href="/member/myinfo" sec:authorize="isAuthenticated()"><span sec:authentication="name">Bob</span>마이페이지</a><br>
                        </li>
                        <li>
                            <a href="/member/logout" sec:authorize="hasAnyRole('ADMIN', 'MEMBER')">로그아웃</a>
                        </li>
                    </th:block>
                    <!-- This content is only shown to administrators. -->
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" sec:authorize="hasRole('ROLE_ADMIN')">관리자 페이지</a>
                    </li>
                </ul>
            </div>
        </label>
    </div>
</header>

</html>