<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <header class="header" th:fragment="headerFragment">
        <div>
            <img class="jejuro-logo-img" src="/image/jejuro-logo.svg" alt="logo">
        </div>
        <div>
            <input type="checkbox" id="menu-btn" class="menu-btn visuallyHidden">
            <label for="menu-btn">
                <div class="hamburger hamburger1">
                    <span class="bar bar1"></span>
                    <span class="bar bar2"></span>
                    <span class="bar bar3"></span>
                </div>
                <div class="wrapper">
                    <ul>
                        <li><a href="/search">여행검색</a></li>
                        <li><a href="/post">여행게시판</a></li>
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/sign-up">회원가입</a></li>
                    </ul>
                </div>
            </label>
        </div>
    </header>

</html>