<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/reset.css" type="text/css">
        <link rel="stylesheet" href="/css/layout.css" type="text/css">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/deco.css" type="text/css">
        <link rel="stylesheet" href="/css/button.css" type="text/css">
        <link rel="stylesheet" href="/css/main/index.css" type="text/css">
        <!-- AOS library 사용 -->
        <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </head>

<body>
	
	<div th:replace="inc/header"></div>
	
	<div layout:fragment="content"></div>

</body>

</html>
