<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 글쓰기</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/layout.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/deco.css" type="text/css">
    <link rel="stylesheet" href="/css/button.css" type="text/css">
    <link rel="stylesheet" href="/css/post/post-index.css" type="text/css">

</head>
<body>
    <div th:replace="inc/header :: headerFragment"></div>
    
    <div class="post-index-head">
        <div>
            <h1>글 쓰 기</h1>
        </div>
        <form action="">
            <button class="btn">등록</button>
        </form>
    </div>

    <main class="container">
        <div>

            <div class="wrap-input">
                <input class="input" type="text" placeholder="제목을 입력하세요"/>
            </div>
            <div class="wrap-input">
                <input class="input post-index-content" type="text" placeholder="제목을 입력하세요"/>
            </div>
        </div>
    </main>
</body>
</html>