<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/layout.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/deco.css" type="text/css">
    <link rel="stylesheet" href="/css/button.css" type="text/css">
    <link rel="stylesheet" href="/css/post/post.css" type="text/css">
</head>

<body>
	<script src="/js/post.js"></script>
    
    <div th:replace="inc/header :: headerFragment"></div>
    
    <div>
        <section class="board-h1">
            <h1>여행게시판</h1>
        </section>
        <div class="board-in">
            <div class="board-input">
                <input class="board-search"type="text">
            </div>
            <div class="board-write btn"><a href="post/post-detail">글쓰기</a></div>
        </div>
    </div>
    <main class="main">
		
        <section class="board-item" th:each="boarditem:${post}">
       		<a th:href="@{post/{id}(id=${boarditem.postId})}">
	        	<form action="post" method="post">
		            <h1 class="board-item-h1" th:text="${boarditem.title}">여행후기 11/30</h1>
		            <span class="date">2022/2/5</span>
		            <span class="reply-count">댓글 : 3</span>
		            <span class="hits">조회수 : <span th:text="${boarditem.view_count}">0</span></span>
	        	</form>        
            </a>
        </section>
        <form th:each="page:${page}">
        
         <h1 class="board-item-h1" th:text="${page}">여행후기 11/30</h1>
         
		</form>
    </main>
</body>
</html>