<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 글쓰기</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/layout.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/deco.css" type="text/css">
    <link rel="stylesheet" href="/css/button.css" type="text/css">
    <link rel="stylesheet" href="/css/post/post-detail.css" type="text/css">

</head>
<body>
    <div th:replace="inc/header :: headerFragment"></div>
    
       <form action="write" method="post">
    	<div class="post-detail-head">
	        <div>
	            <h1>글 쓰 기</h1>
	        </div>
	  		
	    	<button class="btn">등록</button>
    	</div>
	
    	<main class="container">

            <div class="wrap-input">
                <input maxlength="30" name="title" class="input" type="text" placeholder="제목을 입력하세요(30자 제한)"/>
            </div>
            
            <div class="wrap-input">
                <input name="content" class="input post-detail-content" type="text" placeholder="제목을 입력하세요"/>
            </div>


    	</main>
    </form>
</body>
</html>