<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>sign-in</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/layout.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/deco.css" type="text/css">
    <link rel="stylesheet" href="/css/button.css" type="text/css">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/sign-up/sign-up.css'>
    <script src='main.js'></script>
</head>

<body>
    <div th:replace="~{inc/header :: headerFragment}"></div>
        
    <main>
        <form th:action="@{/member/signup}" th:object="${member}" method="post">
            <span class="sign-title">
                회원가입
            </span>

            <div th:replace="~{form_erros :: formErrorsFragment}"></div>
            <!-- <div  class="error" 
            role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
            </div> -->
    
            <div class="input">
                <span>이메일</span>
                <input type="text" placeholder="you@example.com" name="email" th:field="*{email}" >
            </div>
            <div class="input">
                <span>닉네임</span>
                <input type="text" placeholder="○○○○" name="nickName" th:field="*{nickName}">
            </div>
            <div class="input">
                <span>비밀번호</span>
                <input type="password" placeholder="password" name="password" th:field="*{password}" >
            </div>
            <div class="input">
                <span>비밀번호 확인</span>
                <input type="password" placeholder="password" name="passwordCK" th:field="*{passwordCK}" >
            </div>
            <div class="input">
                <span>핸드폰 번호</span>
                <input type="text" placeholder="000-0000-0000" name="phoneNum" th:field="*{phoneNum}" >
            </div>
    
            <div class="sign-up-form-btn">
                <button class="btn sign-up-btn">
                    확인
                </button>
            </div>
        </form>
    </main>
</body>
</html>