<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/layout.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/deco.css" type="text/css">
    <link rel="stylesheet" href="/css/button.css" type="text/css">
    <link rel="stylesheet" href="/css/myinfo/alarm.css" type="text/css">
    
    
</head>
<body>
    <div th:replace="inc/header :: headerFragment"></div>

    <main class="main">
        <div class="main-header">
            <h1>마이페이지</h1>
        </div>
        <div class="main-option">
            <div class="myinfo"><a href="myinfo.html">나의 정보</a></div>
            <div class="alarm-setting"><a href="alarm.html">알람 설정</a></div>
        </div>
        <div class="main-main">
            <div>
                <div>
                    <section class="alarm-item">
                        <form action="">
                            <h1 class="alarm-item-h1">항공편 번호</h1>
                            <br><br><br>
                            <div class="dep-date">출발날짜 : 2022/08/23</div>
                            <div class="arr-date">도착날짜 : 2023/02/02</div>
                            <br><br>
                            <div class="price">가격 : \30,000</div>
                        </form>        
                    </section>
                    <div class="select-option">
                        <input type="checkbox">
                    </div>
                </div>
                
                <div>
                    <section class="alarm-item">
                        <form action="">
                            <h1 class="alarm-item-h1">항공편 번호</h1>
                            <br><br><br>
                            <div class="dep-date">출발날짜 : 2022/08/23</div>
                            <div class="arr-date">도착날짜 : 2023/02/02</div>
                            <br><br>
                            <div class="price">가격 : \30,000</div>
                        </form>        
                    </section>
                    <div class="select-option">
                        <input type="checkbox">
                    </div>
                </div>
                
                <div>
                    <section class="alarm-item">
                        <form action="">
                            <h1 class="alarm-item-h1">항공편 번호</h1>
                            <br><br><br>
                            <div class="dep-date">출발날짜 : 2022/08/23</div>
                            <div class="arr-date">도착날짜 : 2023/02/02</div>
                            <br><br>
                            <div class="price">가격 : \30,000</div>
                        </form>        
                    </section>
                    <div class="select-option">
                        <input type="checkbox">
                    </div>
                </div>            
                <div>
                    <section class="alarm-item">
                        <form action="">
                            <h1 class="alarm-item-h1">항공편 번호</h1>
                            <br><br><br>
                            <div class="dep-date">출발날짜 : 2022/08/23</div>
                            <div class="arr-date">도착날짜 : 2023/02/02</div>
                            <br><br>
                            <div class="price">가격 : \30,000</div>
                        </form>        
                    </section>
                    <div class="select-option">
                        <input type="checkbox">
                    </div>
                </div>
            </div>
            <div class="main-footer">
                <button class="btn">삭제</button>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>