<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/layout.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/deco.css" type="text/css">
    <link rel="stylesheet" href="/css/button.css" type="text/css">
    <link rel="stylesheet" href="/css/myinfo/myinfo.css" type="text/css">
    
    <script src="/js/myinfo/myinfo.js"></script>
</head>
<body>
    <div th:replace="inc/header :: headerFragment"></div>

    <main class="main">
        <div class="main-header">
            <h1>마이페이지</h1>
        </div>
        <form action="" class="input-form">
            <div class="main-option">
                <div class="myinfo"><a href="myinfo.html">나의 정보</a></div>
                <div class="alarm-setting"><a href="alarm.html">알람 설정</a></div>
            </div>
            <div class="main-main">
                <ul>
                    <li>
                        <h1>이메일</h1>
                        <div>newlecture@newlecture.com</div>
                    </li>
                    <br>
                    <li>
                        <h1>닉네임</h1>
                        <div>newlecture</div>
                    </li>
                    <br>
                    <li>
                        <h1>휴대폰 번호</h1>
                        <div>010-0000-0000</div>
                    </li>
                </ul>
            </div>
            <div class="main-footer">
                <form action="">
                    <button class="btn delete">회원탈퇴</button>
                </form>
                <form action="">
                    <input class="btn update" type="button" value="수정">
                </form>
            </div>
        </form>
    </main>

    <footer>

    </footer>

</body>
</html>