.main{
    box-sizing: border-box;
    padding: 50px 0;
    width: 100%;
    height: 93%;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.main-header>h1{
    font-size: 48px;
}
.main-option{
    display: flex;
}
.main-option div{
    padding: 0 20px;
}
.main-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 75vw;
    
    flex-wrap: wrap;
    text-align: left;
    margin: 20px 0;
    height: 500px;
}
.select-option{
    display: flex;
    justify-content: center;
    align-items: center;

}

.alarm-item{
    box-sizing: border-box;
    width: 240px;
    height: 200px;

    padding: 10px;
    border: 2px solid #ff9900;
    border-radius: 0px 20px;


    margin-top: 20px;
}


.main-footer{
    display: inline-flex;
}
.alarm-setting{
    color: #ff9900;
}

