.main{
    box-sizing: border-box;
    padding: 50px 0;
    width: 100%;
    height: 93%;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.main-header>h1{
    font-size: 48px;
}
.main-option{
    display: flex;
    margin-top: 20px;
}
.main-option div{
    padding: 0 20px;
}
.main-main{
    margin: 20px 0;
    height: 500px;
    width: 100%;
}
.input-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}
.main-main ul{
    text-align: left;
}
.main-main ul li{
    margin: 10px 0;
}
.main-main ul li div:last-child{
    margin-top: 10px;
    margin-left: 10px;
}
.main-footer{
    display: inline-flex;
}
.btn{
    margin: 0 10px;
}

.myinfo{
    color: #ff9900;
}