.main{
    box-sizing: border-box;
    padding: 50px 0;
    width: 100%;
    height: 93%;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.main-header>h1{
    font-size: 48px;
}
.main-option{
    display: flex;
}
.main-option div{
    padding: 0 20px;
}
.main-main{
    text-align: left;
    margin: 20px 0;
    height: 800px;
}
.input-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}
.input-div{
    margin-top: 20px;
}
.input-container:not(:first-child){
    margin-top: 20px;
}
.input-container div{
    font-size: 24px;
    margin-bottom: 5px;
}
.main-footer{
    display: inline-flex;
}
.input{
    width: 25vh;
	border-radius: 10px;
	border: 2px solid gray;
	padding: 15px 15px;
}
.myinfo{
    color: #ff9900;
}