
.post-index-head{
    display: flex;
    padding: 30px;
    justify-content:space-between;
    align-items: center;
}

.wrap-input{
	position: relative;
	display: flex;
    margin: 0 15px;
}
.input{
	flex-basis: 100%;
	border-radius: 1rem;
	border: 2px solid gray;
	padding: 15px 15px;
    margin: 20px;
}
.post-index-content{
    height: 450px;
    box-shadow: 0 0 13px 0.5;
}
.placeholder{
	position: absolute;
	margin: 17px 0;
	padding: 0 24px;
	color: gray;
	display: flex;
	align-items: center;
	top: 0;
	left: 17px;
	transition: all 0.2s;
	transform-origin: 0% 0%;
}

