<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout}">
<!-- ---------------------------------------------------------------------- -->

<main layout:fragment="content">
        <section>
            <header class="header-default">
                <h1 class="text-title1-h1">보안오류</h1>
            </header>
            <div>
                권한이 없는 페이지를 접근하셨습니다.<br>
                접근 권한이 필요한 경우 관리자에게 문의하기시 바랍니다.<br>
                <a href="javascript:history.go(-2)">이전 페이지로 가기</a>
            </div>
        </section>
    </main>
</html>