.body{
    position: relative;
    width: 100%;
    height: 100%;
}
.loading-page{
    position: absolute;
    width: 100%;
    height: 100%;
}
.loading-page-img::after{
    background-color: orange;
    width: 100%;
    height: 100%;

}
.loading-page-img{
    background: url(/image/search/search-background.svg)no-repeat center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.jejuro-logo-img{
    width: 128px;
    height: 40px;
    position: absolute;
    top: 6px;
}

/* -------- 비행기 -------- */
.loading-flight-moving{
    width: 50px;
    height: 50px;
    background: url(/image/loading/loading-flight.svg) no-repeat center/cover;
    animation: movebg 5s linear infinite;
}
@keyframes movebg {
    from{
        transform: translate(10vw,-10vh);
    }
    25%{
        transform: translate(25vw,-15vh) rotate(-20deg);
    }
    50%{
        transform: translate(40vw,-25vh) rotate(-50deg);
    }
    75%{
        transform: translate(60vw,-30vh);
    }
    to{
        transform: translate(80vw,-30vh);
    }
}

/* -------- 로딩 -------- */
.loading-logo-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.loading-logo{
    font-size: 50px;
    position: relative;
}

.dots-bars-4 {
    width: 40px;
    height: 20px;
    --c:radial-gradient(farthest-side,currentColor 93%,#0000);
    background:
            var(--c) 0    0,
            var(--c) 50%  0,
            var(--c) 100% 0;
    background-size:8px 8px;
    background-repeat: no-repeat;
    position: relative;
    animation: db4-0 1s linear infinite alternate;
}
.dots-bars-4:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background:currentColor;
    left:0;
    top:0;
    animation:
            db4-1 1s  linear infinite alternate,
            db4-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}

@keyframes db4-0 {
    0%      {background-position: 0  100%,50% 0   ,100% 0}
    8%,42%  {background-position: 0  0   ,50% 0   ,100% 0}
    50%     {background-position: 0  0   ,50% 100%,100% 0}
    58%,92% {background-position: 0  0   ,50% 0   ,100% 0}
    100%    {background-position: 0  0   ,50% 0   ,100% 100%}
}

@keyframes db4-1 {
    100% {left:calc(100% - 8px)}
}

@keyframes db4-2 {
    100% {top:-0.1px}
}