<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jejuro.server.dao.MemberDao">
	<insert id="signUp" parameterType="com.jejuro.server.entity.Member">
		insert into member(email, password, nickName, phoneNum) 
		values(#{email}, #{password}, #{nickName}, #{phoneNum});
	</insert>
	
	<select id="get" resultType="com.jejuro.server.entity.Member">
		select * from member
		where member_id = #{id}
	</select>
	
	<delete id="delete">
		delete from member
		where member_id = #{id};
	</delete>
	
	<update id="update" parameterType="com.jejuro.server.entity.Member">
		update member
		<set>
			<if test="nickName != null">nickName=#{nickName},</if>
			<if test="password != null">password=#{password},</if>
			<if test="phoneNum != null">phoneNum=#{phoneNum}</if>
		</set>
		where email = #{email};
	</update>

	<select id="getId" resultType="Integer">
		select member_id from member
		where nickName = #{nickName}
	</select>

	<select id="getByEmail" resultType="com.jejuro.server.entity.Member">
		select * from member
		where email=#{email}
	</select>
</mapper>